/* to do list styling */
*{
    margin:0px;
    padding:0;
}
body{
    height:100vh;
    background:url(images/images.jpeg) no-repeat center center/cover;
    display: flex;
    justify-content:center;
    align-items: center;
}
.container{
    margin:10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 0px  4px red;

    transform: rotateZ('90deg');
    background-color: rgba(255, 255, 255, 0.886);
}
.container:hover{
    box-shadow: 1px 0px  10px green;
    
}
#add-task-container{
width:350px;
margin-right: 10px;
margin-bottom:20px;
border-style: groove;
background:#fff;
padding:20px 10px;
/* height: 100%; */
border-radius: 20px;
box-shadow: 0 0 3px;
display:flex;;
}
input{
    flex:5;
    padding: 5px;
    border-radius: 10px;
    margin-right: 10px;/*space between btn*/
    font-size: 1.2rem;
}
#add-task{
    transition: .3s;
background-color: #fff;
color: green;
border-radius: 10px;
    flex: 1;
    font-size: 1.2rem;
padding: 5px;

}
#add-task:hover{
background-color: green;
color: #fff;
}
.heading{
    margin-top: 0;
    border-radius: 100px 100px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
    background-color: rgb(224, 250, 215);
    height: 60px;
}
/* STYLING THE TASK WHICH IS ADDED TO TODO LIST*/
.task{
width:360px;
background-color: #fff;
padding:5px;
margin-bottom: 20px;
display: flex;
justify-content: space-between;
border-style: groove;
border-radius: 20px;
box-shadow: 0 0 3px;

}
.task li{
    list-style: none;
    flex:4;
    padding:5px;
    margin: 10px;
    font-size: 1.2rem;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
.task button{
    flex: 1;
    border-radius:10px ;
    margin:5px;
    font-size: 1.5rem;
    padding: 6px;
    background-color: #fff;
    cursor: pointer;
   
}
/* since you are doing appendchild to task compalsary add parent class also */
.task .checkTask{
    transition: .3s;
    color:orange;
    margin-right:5px;
    border:solid 2px orange;
    font-size:1.5rem;
}
.task .deleteTask{
    color:red;
    margin-right:5px;
    border:solid 2px orange;
    font-size:1.5rem;
}
.task .checkTask:hover{
    background-color: rgb(51, 189, 51);
    color:white;
}
.task .deleteTask:hover{
    background-color: red;
    color: white;
}